[user]
	name = Long Do
	email = long.do234@gmail.com
[color]
	diff = auto
	status = auto
  	branch = auto
[color "status"]
  	changed = yellow
  	added = green
  	untracked = red
[core]
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[github]
	user = longpdo
[http]
	sslCAInfo = /Users/longdo/Dropbox/cert/tb.cer
