[include]
  path = /Users/longdo/Dropbox/config/.gitconfig.local
[color]
	diff = auto
	status = auto
  branch = auto
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "status"]
  changed = yellow
  added = green
  untracked = red
[core]
	editor = code --wait
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[github]
	user = longpdo
